@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

body {
  font-size:100%;
}

@media screen and (min-width: 300px) {
  body {
    font-size: 100%;
  }

  .projectInfo {
    font-size: 50%;
  } 
}


/********* parallax ************/

/*#background {
  height: 300px;
  width: 100%;
}*/

.container {
  background-image: url(img/gray_linen.jpg);
  width: 100%;
}

.homebanner {
  background: url(img/bikelights.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 630px;
  display: block;
  margin: 0px auto 0;
  margin-top: -40px;
  width: 100%;
  position: relative;
  /*overflow: hidden;*/
  /*background-image: url("img/parallax.jpeg");*/
}

#banner-text {
  color: white;
  position: fixed;
  margin-top: 100px;
  margin-left: 80px;
  text-align: left;   
  width: 100%;
}

.tag-line {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 1);
  text-shadow: 5px 2px 5px rgba(52, 152, 219,1.0);
  display: none;
}


/********* body ***************/
/*
html {
  background: url(img/bkgrd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  padding: 0px;
  margin: 0px;
}*/

h3:hover {
  text-shadow: 0 0 5px #3498db;
}

.proj-title {
  font-family: "Lato";
}

.title {
  font-family: "Lato";
  text-align: center;
  margin-top: 15px;
}

#recent-projects {
  cursor: pointer;
}

#content-section1 {
  padding: 30px 0 30px 0;
  display: none;
}

#experiments {
  cursor: pointer;
}

#content-section-ex {
  display: none;
  margin: 10px 0;
  text-align: center;
}

#content-section-ex2 {
  display: none;
  margin: 10px 0;
  text-align: center;
}

#skills {
  cursor: pointer;
}

#content-section2 {
  padding: 35px 0 50px 0;
  display: none;
}

.projects {
  border: 1px grey dashed;
  border-radius: 15px;
  margin: 50px 0 0 0;
  text-align: center;
}
/*
.projects .bottom,
.projects a:hover .top {
  display: none;
}
.projects .top,
.projects a:hover .bottom {
  display: block;
}
*/

.top {
  display: none;
}


#proj-3 {
  float: left;
}

#show1 {
  border-radius: 15px;
  clear: both;
  margin-top: 10px;
}

#show2 {
  border-radius: 15px;
  margin-top: 10px;
}

#show3 {
  border-radius: 15px;
  margin-top: 10px;
}

#display-text1 {
  /*background-color: rgba(189, 195, 199, .3);*/
  border-radius: 10px;
  display: none;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  width: 80%;
}

#display-text2 {
  /*background-color: rgba(189, 195, 199, .3);*/
  border-radius: 10px;
  display: none;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}

#display-text3 {
  /*background-color: rgba(189, 195, 199, .3);*/
  border-radius: 10px;
  display: none;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}

button {
  outline: 0;
}

.pt1 {
  float: left;
  width: 50%;
}

.pt2 {
  float: right;
  padding-left: 15px;
  width: 50%;
}

/*
.copy {
}*/

img {
  z-index: 1;
}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 0;
  position: relative;
  width: 80%;  
}

.projectInfo {
  font-family: "Lato", sans-serif;
  font-size: 17pt;
  position: absolute;
  top: 0;
  color: white;
  background-color:rgba(52, 152, 219,.7);
  width: 100%;
  height: 100%;
  line-height:100px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  padding: 15px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-img:hover .projectInfo {
  opacity: 1;
}

/*.project-img:hover {
  opacity: 1;
}
*/

.content-info a {
  font-size: 18px;
  color: inherit;
}

.content-info a:hover {
  text-shadow: 0 0 3px rgba(192, 57, 43,1.0);
}

div p {
  text-align: left;
}

.skills-icon {
  /*border: 1px solid;*/
  text-align: center;
  height: 200px;
  width: 200px;
}
/**** skills ****/

div .skills-icon:hover {
  text-shadow: 0 0 3px rgba(192, 57, 43,1.0);
}
/********* face image *********/

#face {
  border-radius: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
}

#about-bio {
  display: none;
}

#bio {
  cursor: pointer;
}

.bio {
  text-align: center;
}

/*********** bottom nav **********/

.bottom-nav {
  background-image: url(img/black_linen.jpg);
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.contacts h3 {
  color: white;
  padding-left: 5px;
}

.contacts {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts i {
  margin: 0 5px 0 5px;
}

.contacts i:hover {
  color: white;
}











